#OBJ dir
*.o
*.d
*.iex
*.htm
*.csv
*.uvguix.*
*.xlsx
*.scvd
*.Inp
*.sct
*.dep
*.Yuxuan
*.Dreame
*.zip

*.user
/IAPLink/build
/IAPLinkV3/build
/IAPLinkV3/.kilo
/merge/build
/merge/dist

#lib文件

#ARM MDK的配置文件
*.uvoptx
